
@import "~react-image-gallery/styles/css/image-gallery.css";
 
.image-gallery-thumbnail-image{
    border-radius: 30px;
}
.image-gallery-thumbnail{
    border-radius: 30px !important;

}
.image-gallery-slides{
    border-radius: 30px !important;
}
.image-gallery-svg{
    width: 30% !important;
}
.image-gallery-image{
    width: 400px;
    height: 400px;
}