.card_body_title{
    position: relative;;
   
    opacity: 0;
    left: 800px;
}

@keyframes anim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.title_logo{
    margin-right: 50px;
    height: 60px;
    width: 100px;
}
@media screen and (max-width: 830px) {
    .title_logo{
        display: none;
        
    }
  
}