.Calender_above_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 200px; */
    
}
.paragraph_text_calc{
    display: flex;
    flex-direction: row;
}
@media screen and (min-width: 520px) {
    .Calender_above_section{
       margin-top: 20%;
    }
}



.Calender_above_section_hint_section{
    display: flex;
    width: 100%;
    justify-content: center;
   
}
.Calender_above_section_iconmap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.Calender_above_section_iconmap i{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    color: rgb(111, 185, 0);
}
.Calender_above_section_iconmap p{
    padding: 10px;
}

.Calender_above_section_iconmap .hint{
    color: rgb(255, 48, 48);
}

.Calender_above_section_title{
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 700;
}

@media screen and (max-width: 850px) {
    .Calender_above_section_title{
        font-size: 18px;
        font-weight: 700;
    }
}
